@model IEnumerable<InvoiceGenerator.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New Invoice</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientGST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PANNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.City) - @Html.DisplayFor(modelItem => item.PinCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientGST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PANNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit Invoice</a> |
                <a asp-action="Update" asp-route-id="@item.Id">Edit Items</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Generate</a> 
            </td>
        </tr>
}
    </tbody>
</table>
